{% extends 'handshake_market/base.html' %}
{% load crispy_forms_filters %}
{% block title %}
    Product price update
{% endblock %}

{% block content %}
    <body class="text-center">
        <div class="container" style="margin-top: 20px">
            <form method="POST" class="form-login" style="color:white" action="{% url 'update_price' %}">

                <h1 class="h3 mb-3 font-weight-normal">
                    Set your product Price.
                </h1>
                <br>
                {% csrf_token %}
                <div id="div_id_current_price" class="form-group">
                    <label for="id_amount">
                        Current Price
                        <span class="asteriskField"></span>
                    </label>
                    <div>
                        <input type="text" id="product_price" class="form-control" name="product_price"
                               value="{{ product.price }}" readonly>

                    </div>
                </div>
                <input id="product_id" name="product_id" type="hidden" value="{{ product.id }}">
                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>
            </form>
        </div>
    </body>

{% endblock %}