{% extends 'handshake_market/base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
    <body class="text-center">
    <div class="container" style="margin-top: 20px">
        <form method="POST" class="form-login" style="color:white" action="">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login.
            </h1>
            <br>
            {% csrf_token %}
            {{ login_form|crispy }}
            <br>
            <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>
        </form>
        <div class="col-md-12" style="margin-top: 20px">
            <h6>Do not have an account?</h6>
            <a href="{% url 'register' %}" class="btn btn-sm btn-secondary">Register</a>
        </div>
    </div>
    </body>
{% endblock %}